/* CSS RESET  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
body {
    background-color: rgb(246,248,249);
}

/* UTILITY */
.valign-middle {
    vertical-align: middle;
}
.valign-baseline {
    vertical-align: baseline;
}
.container {
    max-width:70% ;
    margin:  40px auto;
}

/* HEADER */
header {
    background-color: white;
    height: 90px;
    padding: 20px;
}
#header-title{
    font-weight: 800;
    font-size: 40px;
    vertical-align:middle;
}

/* MAIN */
main {
    background-color: white;
}

/* NAV  */
nav {
    padding: 15px 30px 10px;
    border-bottom: 2px solid rgb(246,248,249);
}
nav button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid;
}
#add-task {
    color: white;
    border-color: rgb(71,173,241);
    background-color: rgb(71,173,241);
}
#add-section {
    color: gray;
    background-color: white;
    border-color: gray;
}

/* SEZIONI */
section {
    margin: 20px;
}
section h1::before {
    content: '\25BC';
}

.task-button {
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    font-size: smaller;
}
/* task buttons color */
.editorial {
    background-color: rgb(71,173,241);
}
.q1 {
    background-color: rgb(156,114,228);
}
.recruiting {
    background-color: rgb(100,192,169);
}
.mobile {
    background-color: rgb(242,158,51);
}
.website {
    background-color: rgb(236,187,216);
}
.sales {
    background-color: rgb(176,201,38);
}
